{:deps {com.bhauman/figwheel-main {:mvn/version "0.2.13"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        re-frame/re-frame {:mvn/version "1.2.0"}}
 ;; setup some development paths
 :paths ["src/cljs" "target" "resources"]
 ;; setup a helpful alias to start the build
 :aliases {:dev {:extra-paths ["dev/cljs"]
                 :main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
